@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

body{
    background: url('background.jpg') no-repeat;
    background-size: cover;
    padding: 30px 70px;
    background-position: center;
}

/* Header */

.header {
    display:flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.header_inner{
    display: flex;
}

.logo {
    color: white;
    margin-right: 55px;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 900;
}

.navigation{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
}

.navigation a {
    text-decoration: none;
    margin-right: 30px;
    color: white;
    font-weight: 300;
}

.sign_in {
    background: .C19BFF;
    padding:5px;
}

#soc_button:checked ~ * .soc{
    display: flex;
}

#soc_button:checked ~ .soc img{
    margin: 0;
}

.soc a {
    margin-left:15px;
}

.label_button *{
    transition: .5s all;
}

.label_button{
    z-index: 10;
    position: relative;
    order: 0;
    display: flex;
    flex-direction: column;
}

#menu_button{
    display: none;
}

#menu_button:checked ~ * .header_links{
    display: flex;
    left: 0;
}

#menu_button:checked ~ * .line1{
    opacity: 0;
    transition: 0.3s all;
}

#menu_button:checked ~ * .line4{
    opacity: 0;
    transition: 0.3s all;
}

#menu_button:checked ~ * .line2{
    transform: rotate(45deg);
}

#menu_button:checked ~ * .line3{
    transform: rotate(-45deg);
}

#soc_button{
    display: none;
}

.label_soc{
    display: none;
    order: 2;
    position: relative;
}

.label_arrow{
    transform: rotate(90deg);
    z-index: 9;
    transition: .5s all;
}

.mobile_soc{
    position: absolute;
    bottom: -350%;
    width: 25px;
    height: 100px;
    overflow: hidden;
}

.mobile_soc_inner{
    position: relative;
    top: -100%;
    transition: .5s all;
}

#soc_button:checked ~* .mobile_soc_inner{
    top: 0;
}

#soc_button:checked ~* .label_arrow{
    transform: rotate(-90deg);
}

/* Main block */

.main {
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    text-align: center;
    right: 50%;
    line-height: 52px;
}

.main_logo {
    font-family: 'Archivo Black', sans-serif;
    font-size: 60px;
    color:white;
    text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    font-weight: 900;
}

.a {
    font-family: 'Archivo', sans-serif;
    font-size: 30px;
    color: #7F54C7;
    font-weight: 300;
}

.button {
    text-decoration:none;
    color:white;
    font-size: 30px;
    background: #8955E1;
    padding:20px;
    border-radius:20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    line-height: 62px;
}

/* Footer */

.footer {
    text-align: right;
    position: absolute;
    right: 70px;
    bottom: 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
    max-width: 400px;
}

.footer_text1 {
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 20px;
}

/* Mobile adaptation */

@media screen and  (max-width: 909px){

    body{
        padding: 20px;
    }

    .header a{
    }

    .navigation{
        order: 1;
    }

    .logo{
        margin: 0;
    }

    .soc{
        display: none;
    }

    .label_soc{
        display: inline-block;
    }

    .header_links{
        display: flex;
        height: 100%;
        position: absolute;
        left: -100%;
        top: 0;
        flex-direction: column;
        align-items: center;
        background: rgba(137, 85, 225, 0.6);
        transition: .5s all;
        padding: 40px;
        transition: .5s all;
        z-index: 2;
    }

    .header_links a{
        display: block;
        margin-top: 30px;
    }

    .menu_line{
        background: white;
        height: 3px;
        width: 30px;
        display: inline-block;
    }

    .line4{
        margin-top: 17px;
    }

    .line2, .line3{
        position: absolute;
        top: 10px;
    }

    .line1{
    }

    .footer{
        right: 35px;
        margin-left: 35px;
        bottom: 15px;
    }
}

@media screen and  (max-width: 556px){

    .main_logo{
        font-size: 50px;
    }

    .a{
        font-size: 25px;
    }

    .button{
        font-size: 25px;
    }

    .footer{
        right: 20px;
        margin-left: 20px;
        bottom: 10px;
    }
}

@media screen and  (max-width: 476px){

    .button{
        font-size: 20px;
    }
}

@media screen and  (max-width: 320px){

    body{
        padding: 20px 20px;
    }

    /*     Main      */

    .main_logo{
        font-size: 30px;
    }

    .a{
        font-size: 15px;
        line-height: 20px;
    }

    .button{
        font-size: 15px;
        padding: 10px;
        line-height: 0;
    }

    .footer{
        right: 5px;
        margin-left: 5px;
        bottom: 5px;
        width: 300px;
    }

    .footer_text1{
        margin-bottom: 20px;
        font-size: 16px;
    }

    .footer_text2{
        font-size: 12px;
    }
}
